{% extends "layout.html" %}

{% block body %}
<div class="jumbotron text-left" >
<h3 class="text-left">Uygulama Hakkında</h3>
<hr>
<p>Bu platform Organ dönörleri ile organ bağışcılarını buluşturmayı amaçlar 
Her iki sınıf içinde en uygun kişileri makine öğrenmesi temelli bir sistemle eşleştirir.</p>
<hr>
<br>
<p>RecepieAI platformuna gelecek versiyonlarda farklı özellikler eklenektir.</p>
<p>V1.0</p>
<ul>
  <li>Yapay zekâ regresyon model entegrasyonuyla gerçek verilerle eğilmiş regresyon modelinin olası dönor alıcı eşleşmelerinde alıcının yaşam süresi tahmini.</li>
  <li>Üyelerin uygulama içi iletişimi ve birbirlerini takip etme özelliği.</li>
</ul>
<p>V2.0</p>
<ul>
  <li>Yapay zekâ modeli kullanılarak üyeler arasındaki en uygun alıcı donör eşleşmesinin yapılması.</li>
  <li>Girilen sağlık raporlarındaki sayısal verilerin bilgisayarlı görü sistemiyle tanınıp ileri düzey görselleştirme yapılması</li>
</ul>
</div>
{% endblock body %}