{% extends "layout.html" %}
<!Body ortalama için kullnılır>
<div class="conteiner">

{% block body %}

<div class="jumbotron text-center" >

<h4>RecepieAI: Yapay zekâ destekli alıcı-donör eşleştirme ve iletişim platformuna hoşgeldiniz!</h4>
<br>
<p>Bu platforma organ arayan alıcıları ve donör olan kişilerin iletişimi ve eşleşmesi amacıyla oluşturulmuştur. Bu platformada kemik iliği bekleyen hastalar ve donörler yapay zekâ temelli bir sistem ile eşleşebileceklerdir.
Yapay zekâ temelli sistemler hayatın birçok alanında kullanılmakla beraber özellikle hızlı ve kesin çözümlerin önemli olduğu tıp dünyasında önemli bir potansiyel oluşturmaktadır.
</p>
<hr>

</div>


{% endblock body %}

</div>
