{% extends "layout.html" %}

{% block body %}
{% from "includes/formhelpers.html" import render_field %}
<div class="jumbotron text-center" >
<h3>Kayıt Olun</h3>
<hr>
<form method="post">
    {{ render_field(form.name_surname,class = "form-control") }}
    {{ render_field(form.username, class = "form-control") }}
    {{ render_field(form.emailaddress, class = "form-control") }}
    {{ render_field(form.city, class = "form-control") }}
    {{ render_field(form.blood_group, class = "form-control") }}
    {{ render_field(form.diseases, class = "form-control") }}
    {{ render_field(form.password, class = "form-control") }}
    {{ render_field(form.confirm, class = "form-control") }}
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
    <br>
</form>
</div>
{% endblock body %}

